/* universal selector is all elements */
/* *{

} */


/* element selector */


/* class selector */

/* id */

.lesson {
  background-color: lemonchiffon;
}

.title {
  color: darkblue;
}

#email {
  background-color: goldenrod;
}

#github {
  background-color: lightsteelblue;
}

#portfolio {
  background-color: darkorange;
}

