* {
    background-color: lightcyan;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display:block;
}

title {
    display: none;
}

li {
    display: inline;
    background-color: darkblue;
    padding: 10px;
    color: white;
}