* {
    background-color: lightcyan;
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-content: center;
}

title {
    display: none;
}

nav {
    text-align: center;
}

h1 {
    color: darkcyan;
    text-align: center;
}

p {
    text-align: center;
}

h2 {
    text-align: center;
}

li {
    display: inline;
    background-color: darkblue;
    padding: 10px;
    color: white;
}

.welcome-img {
    align-self: center;
}

.content {
    max-width: 800px;
    margin: auto;
  }